<p>UID: <%= user.uid %></p>
<p>Username: <%= user.name %></p>
<p>性别： <%= user.gender == 1 ? "男" : "女" %> </p>
<p>生日年份 <%= user.birthday %> </p>
<p>体重 <%= user.weight %> kg</p>
<p>身高 <%= user.height %> cm</p>
<p>目标睡眠时间 <%= user.targetSleepTime %> 分钟</p>
<p>目标卡路里消耗 <%= user.targetCalorie %> 千焦</p>
