extends layout

block content
  h1 Profile

  dl
    dt Display name
    dd= user.displayName
    dt Email
    dd= user.mail
    dt Affiliations
    dd 
      ul
        if user.eduPersonAffiliation
          each affil in user.eduPersonAffiliation.sort()
            li= affil
    dd
    dt Groups
    dd
      ul
        if user.eduPersonEntitlement
          each group in user.eduPersonEntitlement.sort()
            li= group

  h1 All Attributes
  pre= all
  a(href="/logout") Logout
